
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsMatch平台</title>
    <link href="~/Content/pages/login/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui/Button.css">
    <link rel="stylesheet" href="//qidian.gtimg.com/lulu/theme/peak/css/common/ui/Dialog.css">
</head>
<body>
    <section class="site-container">
        <section class="card">
            <h3>IsMatch平台登录</h3>
            <form action="">
                <div class="form__wrapper">
                    <input type="text" class="form__input" id="txt_account" name="txt_account">
                    <label id="form__label__account" class="form__label" for="txt_account">
                        <span class="form__label__content">用户名</span>
                    </label>
                </div>

                <div class="form__wrapper">
                    <input type="password" class="form__input" id="txt_password" name="txt_password">
                    <label id="form__label__password" class="form__label" for="txt_password">
                        <span class="form__label__content">密码</span>
                    </label>
                </div>

                <div class="form__wrapper">
                    <input id="rememberme" name="rememberme" type="checkbox" checked="checked">
                    <label for="rememberme">记住我</label>
                </div>

                <div class="form__wrapper__submit">
                    <div class="form__wrapper_submit__content">
                        <button id="login_button" type="button" name="login_button" class="btn"><span>提交</span></button>
                    </div>
                </div>
            </form>
        </section>
    </section>

    <script src="~/Content/global/plugins/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/global/plugins/cookie/jquery.cookie.js"></script>
    <script src="//qidian.gtimg.com/lulu/theme/peak/js/common/ui/Dialog.js"></script>
    <script src="~/Content/pages/login/index.js"></script>
</body>
</html>
