a.dropdown-toggle > span, ul.sub-menu > li > a > span {
    margin-left: 10px;
}

.topPanel {
    height: 20px;
}

.topPanel .toolbar {
    float: right;
    padding-right: 10px;
}

.topPanel .search{
    float:left;
    padding-left:10px;
}

   
