
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>平台介绍</title>
    <link href="~/Content/global/js/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            padding: 100px;
        }
    </style>
</head>
<body>
    <div class="row">
        <h3>关于页,人生几多风雨。</h3>
    </div>
</body>
</html>
