
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form_Layout.cshtml";
}
<!-- 后期select2要换成beagleui的 -->
<form id="form1">
    <div class="row">
        <!--Default Tabs-->
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="tab-container">
                    <ul role="tablist" class="nav nav-tabs">
                        <li class="nav-item"><a href="#home" data-toggle="tab" role="tab" class="nav-link active">基本信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" role="tabpanel" class="tab-pane active">
                            <div class="form-group row">
                                <label for="Name" class="col-sm-2 col-form-label text-sm-right">用户名</label>
                                <div class=" col-sm-4">
                                    <input id="Name" name="Name" type="text" class="form-control form-control-xs">
                                    <input id="ID" name="ID" type="hidden" />
                                </div>
                                <label for="Password" class="col-12 col-sm-2 col-form-label text-sm-right">密码</label>
                                <div class="col-12 col-sm-4 ">
                                    <input id="Password" name="Password" type="password" class="form-control form-control-xs">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="RoleIDs" class="col-sm-2 col-form-label text-sm-right">角色</label>
                                <div class="col-sm-10">
                                    <select id="RoleIDs" name="RoleIDs" class="form-control required" multiple="multiple"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="" class="col-sm-2 col-form-label text-sm-right">选项</label>
                                <div class="col-12 col-sm-10 col-lg-6 form-check mt-2">
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        <input id="Enable" name="Enable" type="checkbox" checked="" class="custom-control-input">
                                        <span class="custom-control-label custom-control-color">是否启用</span>
                                    </label>
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        <input id="IsAdmin" name="IsAdmin" type="checkbox" class="custom-control-input">
                                        <span class="custom-control-label custom-control-color">是否超管</span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="DisplayName" class="col-sm-2 col-form-label text-sm-right">姓名</label>
                                <div class=" col-sm-4">
                                    <input id="DisplayName" name="DisplayName" type="text" class="form-control form-control-xs">
                                </div>
                                <label for="Sex" class="col-12 col-sm-2 col-form-label text-sm-right">性别</label>
                                <div class="col-sm-4 ">
                                    <select id="Sex" name="Sex" class="form-control form-control-xs required">
                                        <option value="0">未知</option>
                                        <option value="1">男</option>
                                        <option value="2">女</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="WeChat" class="col-sm-2 col-form-label text-sm-right">微信</label>
                                <div class=" col-sm-4">
                                    <input id="WeChat" name="WeChat" type="text" class="form-control form-control-xs">
                                </div>
                                <label for="F_Email" class="col-12 col-sm-2 col-form-label text-sm-right">邮箱</label>
                                <div class="col-12 col-sm-4 ">
                                    <input id="Mail" name="Mail" type="text" class="form-control form-control-xs">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Phone" class="col-sm-2 col-form-label text-sm-right">电话</label>
                                <div class=" col-sm-4">
                                    <input id="Phone" name="Phone" type="text" class="form-control form-control-xs">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Remark" class="col-sm-2 col-form-label text-sm-right">备注</label>
                                <div class=" col-sm-10">
                                    <textarea id="Remark" name="Remark" class="form-control" style="height: 60px;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        //获取当前页面的请求参数，以对象的形式返回
        var requestData = IsMatch.common.getRequestData();
        var options = {
            //标题
            title: "管理员表单",
            //单条数据查询地址
            dataQueryOneUrl: "/Admin/Admin/GetOne",
            //数据添加地址，视图与操作是一个地址，只是请求方式及参数不同
            dataAddUrl: "/Admin/Admin/Add",
            //数据编辑地址，视图与操作是一个地址，只是请求方式及参数不同
            dataUpdateUrl: "/Admin/Admin/Edit",
        };
        //视图模型
        var viewModel = new ViewModel(options);
        /**初始化控件**/
        function initControl() {
            IsMatch.form.bindSelect($("#RoleIDs"), {
                url: "/Admin/Role/List?Sort=Sort&Order=desc"
            });
            //id不为0说明是编辑或者查看详情页面
            if (requestData.id != "0") {
                //加载数据
                viewModel.formLoad({
                    params: { id: requestData.id },
                    //请求类型
                    type: requestData.type,
                    success: function (result) {
                        //将数据反序列化绑定到表单上
                        IsMatch.form.deserialize("form1", result.Data);
                        //多选框需要重新赋值
                        if (result.Data.RoleIDs) {
                            var roleIDArray = result.Data.RoleIDs.split(',');
                            $("#RoleIDs").val(roleIDArray).trigger("change");
                        }
                        if (requestData.type == "detail") {
                            var $form = $("#form1");
                            $form.find('.form-control,select,input').attr('readonly', 'readonly');
                            $form.find('div.ckbox label').attr('for', '');
                        }
                    }
                });
            }
        }
        $(function () {
            initControl();
        });
    </script>

}

